*
{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body,html
{
  font-family: 'Raleway';
}
.fullscreen-wallpaper
{
  height: 100%;
  min-width: 100vw;
  background-position: top;
  z-index: -99;
}

#intro
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 99;
}
@keyframes getOut
{
  from{left: 0}
  to{left: 100vw}
}

#dj
{
  position: relative;
  top: 60px;
  background-size: cover;
  background-image: url("../pictures/wallpaper/dj3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  transition: all .5s ease-in-out;
}
#cover
{
  opacity: 0;
  position: absolute;
  background-size: cover;
  transition: 2s ease-in-out;
}
.logo
{
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}

#logo
{
  animation: logo 1.5s;
}


main
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section
{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.menu
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#showicons
{
  position: absolute;
  top: 65px;
}
#social
{
  cursor: pointer;
}
#icons
{
  user-select: none;
  position: absolute;
  border-top: 1px solid rgba(255,255,255,0.5);
  background-color: #1e1e1e;
  top: 0px;
  z-index: 99;
}
#expand
{
  font-size: 40px;
}
header span
{
  width:21%;
  display: inline-block;
  text-align: center;
}
header span:nth-of-type(3)
{
  margin-top: 4px;
  width: 16%;
}
header  i
{
  transition: .3s ease-in-out;
  cursor: pointer;
}
header span:nth-of-type(1) i:hover
{
  color: orange;
}
header span:nth-of-type(2) i:hover
{
  color: #fcc41e;
}
header span:nth-of-type(4) i:hover
{
  color: #DD4F43;
}
header span:nth-of-type(5) i:hover
{
  color: #D22222;
}


a
{
  color: white;
  text-decoration: none;
}
.navi
{
  height: 60px;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

nav
{
  background-color: #191919;
  position: absolute;
  top: 0px;
  z-index: 50;
}
nav span{

  width: 20%;
  text-align: center;
}
/*nav span:nth-of-type(2)
{
  margin-right: 15vw;
}*/
nav img
{
  user-select: none;
  margin-top: 5px;
  height: 90px;
  width: 150px;
}
nav li, nav a
{
  color: white;
  font-size: 20px;
}

@keyframes fadein
{
  from{opacity: 0}
  to{ opacity: 1}
}
footer
{
  z-index: 10;
}
#song
{
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #1e1e1e;
  z-index: 99;
}
#songname
{
  user-select: all;
  font-size: 16px;
  text-align: center;
  color: white;
  white-space: nowrap;

}
#song>div{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#song>div>div:first-of-type
{
  height: 100%/2;
  margin: 0px 50px 0px 50px;
  flex-grow: 1;
  border-top: 1px solid gray;
}
#song>div>div:last-of-type
{
  height: 100%/2;
  margin: 0px 50px 0px 50px;
  flex-grow: 1;
  border-top: 1px solid gray;
}
#audiocontrol
{
  position: relative;
  user-select: none;
  height: 40px;
  width: 100%;
  z-index: 99;
  background-color: #1e1e1e;
}
#audiocontrol>div:first-of-type
{
  width: 83.33%;
  margin-left: 40px;
}
#audiocontrol>div:last-of-type
{
  width: 16.67%;
  margin-right: 40px;
}
.material-icons
{
  color: white;
  cursor: pointer;
  transition: all .3s linear;
}
.material-icons:hover
{
  color: #007fff;
}
.flex-center
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#volumebutton
{
  transition: .5s ease-in-out;
}
#volumeslider
{
  display: none;
  opacity: 0;
  position: absolute;
  width: 10vw;
  transition: .5s ease-in-out;
}
input {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0);
}
input::-webkit-slider-runnable-track{
  width: 60px;
  height: 10px;
  background: rgba(0,0,0,0.8);
  border-radius: 50px;
}
input::-webkit-slider-thumb{
  cursor: pointer;
  margin-top: -2px;
  height: 30px;
  border-radius: 10px;
}
input::-moz-slider-runnable-track{
  width: 50px;
  height: 10px;
  background:rgba(0,0,0,0.8);
  border-radius: 50px;
}
input::-moz-slider-thumb{
  cursor: pointer;
  margin-top: -2px;
  height: 30px;
}
#clickvideo
{
  z-index: -99;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#player
{
  transform: scale(3);
  pointer-events: none;
  z-index: -1;
  margin-bottom: 60px;
}



#spinner {      /*MAKE THIS ANIMATION ONLY TO WINDOW.ONLOAD !!!*/
  width: 75px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  animation: bounce 1.2s infinite ease-in-out;
}
#spinner .bounce3 {
  animation-delay: 0.32s;
}

#spinner .bounce2 {
  animation-delay: 0.16s;
}

@keyframes bounce
{
  0%{
    transform: scale(0);
    }
 50%{
    transform: scale(1.0);
    }
100%{
    transform: scale(0);
    }
}
#progressBar
{
  position: relative;
  background-color: rgba(255,255,255,0.8);
  margin: 10px auto;
  height: 8px;
  width: 75vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
}
#progressIndicator
{
  cursor: pointer;
  position: relative;
  height: 22px;
  border-radius: 100%;
  width: 22px;
  background-color: #007fff;
}
#playlists
{
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #1e1e1e;
  bottom: 40px;
}
#swiper
{
  position: relative;
  display: flex;
  color:  white;
  list-style-type: none;
  height: 100%;
}
.wrapper
{
  height: 100%;
  min-width: 90vw;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#arrowright
{
  transition: .5s ease-in-out;
}

#playlists li
{
  min-width: 20%;
  padding: 0 0 2px 0;
  border-bottom: 1px solid  white;
  font-variant: small-caps;
  font-size: 22px;
}
#playlists i
{
  font-size: 30px;
}
#playlists>ul>div:nth-of-type(2)
{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10%;
}
#playlists span
{
  position: relative;
  cursor: pointer;
}
#playlists li span:hover
{
  animation: backforward .5s ease-in-out infinite;
}
@keyframes backforward
{
  0%{left: 0}
  50%{left: 4px}
  100%{left: 0}
}

@keyframes opacity
{
  0%{opacity: 0.1}
  99%{opacity: 0.1}
  100%{opacity: 1}
}
#fadeInText
{
  position: absolute;
  align-self: center;
  color: black;
  font-variant: small-caps;
  z-index: 99;
  font-size: 10vw;
}

@keyframes fadeInText
{
  0%{ transform: translate(100vw)}
  30%{ transform: translate(-50vw, -50vw);transform: scale(1)}
  50%{transform: scale(1.2)}
  70%{transform: scale(1)}
  100%{transform: translate(-100vw)}
}
