*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: 'Raleway';
}
.fullscreen-wallpaper
{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-image: url("../pictures/wallpaper/dj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -99;
}
main>div:first-of-type
{
  position: relative;
}
#logo1
{
  position: absolute;
  transition: all 1s linear;
  opacity: 0;
  top: 0;
}
#logo
{
  animation: logo 3s forwards;
  z-index: 1;
}


@keyframes logo
{
    0%
    {
        transform: scale(10);
    }
    60%
    {
        transform: scale(0.85);
    }
    80%
    {
        transform: scale(1.2);
    }
    100%
    {

        transform: scale(1);
    }
}
main
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
nav
{
  position: absolute;
  top: 20px;
}
nav ul{
  white-space: nowrap;
}
nav ul li
{
  display: inline-block;
  padding: 0 50px 0 50px;
}
nav a
{
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
  font-size: 20px;
}
nav li:first-of-type
{
  opacity: 0;
  animation: fadein 1s .7s forwards;
}
nav li:nth-of-type(2)
{
  opacity: 0;
  animation: fadein 1s 1.2s forwards;
}
nav li:nth-of-type(3)
{
  opacity: 0;
  animation: fadein 1s 1.7s forwards;
}
nav li:last-of-type
{
  opacity: 0;
  animation: fadein 1s 2.2s forwards;
}
@keyframes fadein
{
  from{opacity: 0}
  to{ opacity: 1}
}
#audioplayer
{
  position: absolute;
  bottom: 0;
  transform: scale(0);
  animation: zoom 1s 1.7s forwards;
}
@keyframes zoom
{
  from{transform: scale(0)}
  to{transform: scale(1)}
}

#song
{
  margin-top: 10px;
  height: 40px;
  width: 100vw;
  background-color: rgba(255,255,255,0.7);
  /*border-radius: 20px 20px 0 0;*/
}
#songname
{
  font-size: 16px;
  text-align: center;
}
#audiocontrol
{
  border-top: 1px solid gray;
  height: 40px;
  width: 100vw;
  background-color: rgba(255,255,255,0.7);
  /*border-radius: 0 0 20px 20px;*/
}
#audiocontrol>div:first-of-type
{
  width: 83.33%;
  margin-left: 40px;
}
#audiocontrol>div:last-of-type
{
  width: 16.67%;
  margin-right: 40px;
}
.material-icons
{
  color: rgba(0,0,0,0.8);
  cursor: pointer;
  transition: all .5s linear;
}
.material-icons:hover
{
  color: #0055ff;
}
.flex-center
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#volumeslider
{
  display: none;
  position: absolute;
  width: 80px;
}
input {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0);
}
input::-webkit-slider-runnable-track{
  width: 60px;
  height: 10px;
  background: rgba(0,0,0,0.8);
  border-radius: 50px;
}
input::-webkit-slider-thumb{
  cursor: pointer;
  margin-top: -2px;
  height: 30px;
  border-radius: 10px;
}
input::-moz-slider-runnable-track{
  width: 50px;
  height: 10px;
  background:rgba(0,0,0,0.8);
  border-radius: 50px;
}
input::-moz-slider-thumb{
  cursor: pointer;
  margin-top: -2px;
  height: 30px;
}
